body{
    background-color: rgb(249, 249, 249);
}
p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

ul{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.container{
    text-align:center
    4;
    max-width: 700px;
    margin: 0 auto;
}
footer p{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
footer{
    background-color: rgb(97, 204, 254);
}
.proyectos{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.redes{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}