body {
    background: rgb(220,222,202);
    background: radial-gradient(circle, rgba(220,222,202,1) 0%, rgba(137,221,192,1) 100%);
}
input[type="text"]{
    background: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    color: mediumblue;
}
input[type="submit"]{
    background-color: yellow;
    width: 100px;
    color: darkblue;
}
input[type="text"]::placeholder{
    width: 100px;
    color: #2e8cd4;
}
input{
    border-radius: 10px;
    border: 0px;
    outline: none;
}